.mono-text[data-v-7243089b]{font-family:Monaco,Consolas,monospace;font-weight:500}.sub-text[data-v-7243089b]{color:#909399;font-size:12px}.user-cell[data-v-7243089b]{align-items:center;display:flex;gap:8px}
